<div class="container">
  <h1>Rnd-Dialog</h1>

  <gui-form [config]="guiConfig" [model]="guiModel" />

  <button mat-flat-button (click)="openDialog(dialogTpl)">Open dialog</button>

  <ng-template #dialogTpl let-data let-dialogRef="dialogRef">
    <div
      rndDialogDragHandle
      #dragHandle="rndDialogDragHandle"
      class="drag-handle"
      [class.dragging]="dragHandle.isDragging"
    >
      Drag handle
      <button (click)="dialogRef.close()">close</button>
    </div>

    <p>{{ data }}</p>
  </ng-template>
</div>
