:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  background-color: rgb(0, 0, 0, .08);
  line-height: 16px;
  cursor: default;
  border-radius: 12px 12px 0 0;
}

.title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.close-btn {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #ff605c;
  border: none;
  border-radius: 50%;
  outline: none;
  line-height: 10px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    &::after {
      content: '×';
    }
  }
}
